// Theme
//
// Backgrounds

// Dark Theme

.theme--dark {
    background-color: $color--theme-dark;
    color: $color--white;

    &.site-footer a {
        color: rgba($color--white, .75);
        border-bottom: $border--width $border--style $border--color;

        &:hover {
            color: $color--white;
            border: none;
        }
    }

    .main-nav__link {
        color: $color--white;

        &:hover {
            color: $color--white;
        }

        &:before {
            background: $color--theme-secondary;
        }

        @include breakpoint($xlarge) {
            &:after {
                background: rgba($color--white, .15);
            }
        }
    }
}

// Light Theme

.theme--blue {
    background-color: $color--theme-primary;
    color: $color--white;

    h1 {
        color: $color--white;

        &:after {
            background: $color--white;
        }
    }
}

// Light Theme Secondary

.theme--teal {
    background-color: $color--theme-highlight;
    color: $color--white;
}

// Secondary Theme

.theme--secondary {
    background-color: $color--theme-secondary;
    color: $color--white;
}
