// Base Styles
//
// This file contains the <body> and <html> styles

html {
    box-sizing: border-box;
    height: 100%;
    background: $color--theme-shade;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
}

svg {
    max-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
