// Body Styles
//
// This file contains the <body> and <html> styles

// Responsive

img {
    max-width: 100%;
}

%text {
    font-family: $font-family--primary;
    font-size: inherit;
    font-weight: $base__font-weight;
    line-height: $base__line-height;
    color: inherit;
}

html {
    font-size: 100%;
    @include breakpoint($medium) {
        font-size: 110%;
    }
    @include breakpoint($medium) {
        font-size: 115%;
    }
    @include breakpoint($xlarge) {
        font-size: 125%;
    }
}

.content {
    position: relative;
}
