// Lists
//
// Styleguide 1.4

// Unordered Lists
//
// markup:
//  <ul>
//  	<li>This is a list item in an unordered list</li>
//  	<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
//  	<li>
//  		Lists can be nested inside of each other
//  		<ul>
//  			<li>This is a nested list item</li>
//  			<li>This is another nested list item in an unordered list</li>
//  		</ul>
//  	</li>
//  	<li>This is the last list item</li>
//  </ul>
//
// Styleguide 1.4.1

ul {
    list-style: circle inside;
    padding-left: 0;
    margin-top: $spacing;
    margin-bottom: $spacing;

    li {
        line-height: $base__leading;
    }

    li {
        margin-bottom: $spacing--small;
    }

    ul,
    dl,
    ol {
        font-size: 90%;
        margin: $spacing--small 0 $spacing--small $spacing;
    }
}

// Ordered Lists
//
// markup:
//  <ol>
//  	<li>This is a list item in an ordered list</li>
//  	<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
//  	<li>
//  		Lists can be nested inside of each other
//  		<ol>
//  			<li>This is a nested list item</li>
//  			<li>This is another nested list item in an ordered list</li>
//  		</ol>
//  	</li>
//  	<li>This is the last list item</li>
//  </ol>
//
// Styleguide 1.4.2

ol {
    list-style: decimal inside;
    padding-left: 0;
    margin-top: $spacing;
    margin-bottom: $spacing;

    li {
        line-height: $base__leading;
    }

    li {
        margin-bottom: $spacing--small;
    }

    ul,
    dl,
    ol {
        font-size: 90%;
        margin: $spacing--small 0 $spacing--small $spacing;
    }
}


// Definition Lists
//
// markup:
//  <dl>
//  	<dt>Definition List</dt>
//  	<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
//      <dt>This is a term.</dt>
//      <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
//      <dt>Here is another term.</dt>
//      <dd>And it gets a definition too, which is this line.</dd>
//      <dt>Here is term that shares a definition with the term below.</dt>
//      <dd>And it gets a definition too, which is this line.</dd>
//  </dl>
//
// Styleguide 1.4.3

dl {
    margin-top: $spacing;
    margin-bottom: $spacing;
    padding-left: 0;

    dt,
    dd {
        margin-bottom: $spacing--small;
        line-height: $base__leading;
    }

    dt {
        font-weight: $font-weight--bold;
        line-height: $base__leading;
    }

    dd {
        padding-left: $spacing;
        line-height: $base__leading;
    }

    ul,
    dl,
    ol {
        font-size: 90%;
        margin: $spacing--small 0 $spacing--small $spacing;
    }
}

// Horizontal Lists
//
// markup:
//  <ul class="list--horiz">
//  	<li class="list--horiz__item">One</li>
//  	<li class="list--horiz__item">Two</li>
//  	<li class="list--horiz__item">Three</li>
//  </ul>
//
// Styleguide 1.4.4

.list--horiz {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list--horiz__item {
    display: inline-block;
    margin-bottom: 0;
    margin-left: $spacing--small;

    &:first-child {
        margin-left: 0;
    }
}
