// Typeography
//
// With some help from Typebase.css at
// http://devinhunt.github.io/typebase.css/
//
// Styleguide 1.2

// Headings
//
// markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <hr/>
// <h1>Heading 1</h1>
// <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
// <h2>Heading 2</h2>
// <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
// <h3>Heading 3</h3>
// <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
// <h4>Heading 4</h4>
// <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
// </hr>
// <h1>Nullam quis risus eget urna mollis ornare vel eu leo.</h1>
// <h2>Nullam quis risus eget urna mollis ornare vel eu leo.</h2>
// <h3>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</h3>
// <h4>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</h4>
//
// Styleguide 1.2.1

// HTML

::selection {
    text-shadow: none;
}

html {
    font-family: $font-family--primary;
    font-size: $base__font-size / 16 * 100%;
    color: $color--black;

    -webkit-font-smoothing: antialiased;
}

// Headers

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base__font-family--heading;
    font-weight: $base__font-weight--heading;
    line-height: $base__leading;
    margin-top: $base__leading;
    color: $color--grey--dark;
}

.h1,
h1 {
    font-size: 3 * $scale * 1rem;
    line-height: 3 * $base__leading;
}

.h2,
h2 {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $base__leading;
}

.h3,
h3 {
    font-size: 1 * $scale * 1rem;
}

.h4,
h4 {
    font-size: $scale / 2 * 1rem;
}

.h5,
h5 {
    font-size: $scale / 3 * 1rem;
}

.h6,
h6 {
    font-size: $scale / 4 * 1rem;
}

// Paragraph
//
// This file contains style for typography
//
// markup:
// <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
// Qualis ista philosophia est, quae non interitum afferat pravitatis,
// sed sit contenta mediocritate vitiorum? Quia nec honesto quic quam
// honestius nec turpi turpius. Igitur ne dolorem quidem. Sed eum qui
// audiebant, quoad poterant, defendebant sententiam suam. Duo Reges:
// constructio interrete. Suo enim quisque studio maxime ducitur.
// Sed in rebus apertissimis nimium longi sumus. Scrupulum, inquam,
// abeunti; Quid, si etiam iucunda memoria est praeteritorum malorum?
// Cum audissem Antiochum, Brute, ut solebam, cum M.</p>
// <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
// Qualis ista philosophia est, quae non interitum afferat pravitatis,
// sed sit contenta mediocritate vitiorum? Quia nec honesto quic quam
// honestius nec turpi turpius. Igitur ne dolorem quidem. Sed eum qui
// audiebant, quoad poterant, defendebant sententiam suam. Duo Reges:
// constructio interrete. Suo enim quisque studio maxime ducitur.
// Sed in rebus apertissimis nimium longi sumus. Scrupulum, inquam,
// abeunti; Quid, si etiam iucunda memoria est praeteritorum malorum?
// Cum audissem Antiochum, Brute, ut solebam, cum M.</p>
// <p class="p--lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
// Qualis ista philosophia est, quae non interitum afferat pravitatis,
// sed sit contenta mediocritate vitiorum? Quia nec honesto quic quam
// honestius nec turpi turpius. Igitur ne dolorem quidem. Sed eum qui
// audiebant, quoad poterant, defendebant sententiam suam. Duo Reges:
// constructio interrete. Suo enim quisque studio maxime ducitur.
// Sed in rebus apertissimis nimium longi sumus. Scrupulum, inquam,
// abeunti; Quid, si etiam iucunda memoria est praeteritorum malorum?
// Cum audissem Antiochum, Brute, ut solebam, cum M.</p>
// <p class="p--hug"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
// Qualis ista philosophia est, quae non interitum afferat pravitatis,
// sed sit contenta mediocritate vitiorum? Quia nec honesto quic quam
// honestius nec turpi turpius. Igitur ne dolorem quidem. Sed eum qui
// audiebant, quoad poterant, defendebant sententiam suam. Duo Reges:
// constructio interrete. Suo enim quisque studio maxime ducitur.
// Sed in rebus apertissimis nimium longi sumus. Scrupulum, inquam,
// abeunti; Quid, si etiam iucunda memoria est praeteritorum malorum?
// Cum audissem Antiochum, Brute, ut solebam, cum M.</p>
//
// Styleguide 1.2.2

p,
.text {
    line-height: $base__leading;
    margin-top: $spacing;
}

.p--lead {
    font-size: $scale * 1rem;
    line-height: 1.15 * $base__leading;
}

.p--hug {
    margin-top: 0;
}

// Inline Text
//
// markup:
// <div><a href="#">This is a text link</a></div>
// <div><strong>Strong is used to indicate strong importance</strong></div>
// <div><em>This text has added emphasis</em></div>
// <div>The <b>b element</b> is stylistically different text from normal text, without any special importance</div>
// <div>The <i>i element</i> is text that is set off from the normal text</div>
// <div>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</div>
// <div><del>This text is deleted</del> and <ins>This text is inserted</ins></div>
// <div><s>This text has a strikethrough</s></div>
// <div>Superscript<sup>®</sup></div>
// <div>Subscript for things like H<sub>2</sub>O</div>
// <div><small>This small text is small for for fine print, etc.</small></div>
// <div>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></div>
// <div>Keybord input: <kbd>Cmd</kbd></div>
// <div><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></div>
// <div><cite>This is a citation</cite></div>
// </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>
// <p>The <mark>mark element</mark> indicates a highlight</p>
// <p><code>This is what inline code looks like.</code></p>
// <p><samp>This is sample output from a computer program</samp></p>
// <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
//
//
// Styleguide 1.2.3

a,
strong,
em,
b,
i,
u,
del,
s,
sup,
sub,
small,
kbd,
q,
cite,
dfn,
mark,
code,
samp,
var {
    line-height: $base__leading;
}

// Blockquote
//
// markup:
// <blockquote>
//     <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
// </blockquote>
//
// Styleguide 1.2.4

blockquote {
    line-height: $base__leading;
    margin-top: $spacing;
    margin-bottom: $spacing;
    padding: $spacing--small $spacing;
    border-left: $blockquote__border--width $blockquote__border--color $blockquote__border--style;
    background: $blockquote__background;

    & *:last-child {
        margin: 0;
    }
}

// hr
//
// markup:
// <hr>
//
// Styleguide 1.2.5

hr {
    display: block;
    height: $border--width;
    margin: $spacing 0;
    padding: 0;
    border: 0;
    border-bottom: $border--width solid fade-out($color--grey--dark, .9);
}

// Code
//
// markup:
// <code>This is code</code>
//
// Styleguide 1.2.6

code {
    padding: ($spacing--small / 2) $spacing--small;
    // Forces text to constrain to the line-height. Not ideal, but works.
    vertical-align: bottom;
    color: $font-family--mono;
    color: $color--grey--dark;
    border-radius: .1rem;
    background-color: $color--silver;
}
