// Global Configurations
//
// This file contains global variables

// Wireframe

$wireframe: false;

// Breakpoints

$xsmall--down: 479px;
$xsmall: 480px;
$small--down: 767px;
$small: 768px;
$medium: 960px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1330px;

// Descrpitive Base Colors

$color--black: #222222;
$color--grey--dark: #444444;
$color--grey--mid: #777777;
$color--grey: #cccccc;
$color--grey--light: #ececec;
$color--silver: #f4f4f4;
$color--white: #ffffff;
$color--accent: tomato;
$color--blue: #3372df;
$color--teal: #33afdf;
$color--green: #0f9d58;
$color--purple: #b233df;
$color--red: #ca1029;
$color--yellow: #f4b400;

// Theme Colors

$color--theme-shade: #FBFBFB;
$color--theme-gray--light: #EEEEEE;
$color--theme-gray: #505762;
$color--theme-gray--dark: #393E46;
$color--theme-orange: #FF5722;
$color--theme-green: #1CD39F;
$color--theme-blue: #1C81D3;

// UI Colors

$color--destructive: $color--red;
$color--success: $color--green;
$color--warning: $color--yellow;
$color--info: $color--teal;

$ui-colors: (
    action: $color--theme-orange,
    destructive: $color--red,
    success: $color--green,
    warning: $color--yellow,
    info: $color--teal
);

// Font Stacks
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300);
$font-family--mono: Monaco, Consolas, monospace;
$font-family--primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin: 100;
$font-weight--medium: 400;
$font-weight--bold: 700;

// Base Text
$scale: 1.414;
$base__font-size: 16;
$base__line-height: 1.5;
$base__font-weight: $font-weight--medium;
$base__leading: $base__line-height * 1rem;
// $spacing--large: $base__leading;
$spacing: $base__leading;
$spacing--small: $base__leading / 2;
$spacing--xsmall: $base__leading / 4;
$spacing--large: $base__leading * 2;

// Headings

$base__font-family--heading: $font-family--primary;
$base__font-weight--heading: $font-weight--medium;
$base__font-color--heading: $color--grey--dark;

// Border

$border__radius: .1rem;
$border--width: .1rem;
$border--color: $color--theme-gray--light;
$border--style: solid;

// Blockquote

$blockquote__border--width: .4rem;
$blockquote__border--color: $color--grey--light;
$blockquote__border--style: solid;
$blockquote__background: $color--white;

// Button

$btn__font-stack: $font-family--primary;

// Path to Assets

$path--rel: "../img";

// Width

$width__inner: 75rem;

// Animations

$transition__time: 0.2s;
$transition__time--activation: 1s;
