// Grid

// Styleguide does not inherit box-sizing.
.ng-binding {
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Main Grid Styles

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid__cell {
  flex: 1;
}

.grid--flex > .grid__cell {
  display: flex;
}


// Grid Style Modifiers

.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

// With Gutters

.grid--gutters {
    @extend .g;
  margin: (-$spacing) 0 $spacing (-$spacing);

  > .g-cell {
    padding: $spacing 0 0 $spacing;
  }
}

// Secton Classes
.grid--fit > .grid__cell {
  flex: 1;
}
.grid--full > .grid__cell {
  flex: 0 0 100%;
}
.grid--1of2 > .grid__cell {
  flex: 0 0 50%
}
.grid--1of3 > .grid__cell {
  flex: 0 0 33.3333%
}
.grid--1of4 > .grid__cell {
  flex: 0 0 25%
}

// Small Screens
@media (min-width: $small) {
  .grid--fit--small > .grid__cell {
    flex: 1;
  }
  .grid--full--small > .grid__cell {
    flex: 0 0 100%;
  }
  .grid--1of2--small > .grid__cell {
    flex: 0 0 50%
  }
  .grid--1of3--small > .grid__cell {
    flex: 0 0 33.3333%
  }
  .grid--1of4--small > .grid__cell {
    flex: 0 0 25%
  }
}

// Medium Screens
@media (min-width: $medium) {
  .grid--fit--medium > .grid__cell {
    flex: 1;
  }
  .grid--full--medium > .grid__cell {
    flex: 0 0 100%;
  }
  .grid--1of2--medium > .grid__cell {
    flex: 0 0 50%
  }
  .grid--1of3--medium > .grid__cell {
    flex: 0 0 33.3333%
  }
  .grid--1of4--medium > .grid__cell {
    flex: 0 0 25%
  }
}

// Large Screens
@media (min-width: $large) {
  .grid--fit--large > .grid__cell {
    flex: 1;
  }
  .g--full--large > .g-cell {
    flex: 0 0 100%;
  }
  .g--1of2--large > .g-cell {
    flex: 0 0 50%
  }
  .g--1of3--large > .g-cell {
    flex: 0 0 33.3333%
  }
  .g--1of4--large > .g-cell {
    flex: 0 0 25%
  }
}

//  xLarge Screens
@media (min-width: $xlarge) {
  .g--fit--xlarge > .g-cell {
    flex: 1;
  }
  .g--full--xlarge > .g-cell {
    flex: 0 0 100%;
  }
  .g--1of2--xlarge > .g-cell {
    flex: 0 0 50%
  }
  .g--1of3--xlarge > .g-cell {
    flex: 0 0 33.3333%
  }
  .g--1of4--xlarge > .g-cell {
    flex: 0 0 25%
  }
}

//  xxLarge Screens
@media (min-width: $xxlarge) {
  .g--fit--xxlarge > .g-cell {
    flex: 1;
  }
  .g--full--xxlarge > .g-cell {
    flex: 0 0 100%;
  }
  .g--1of2--xxlarge > .g-cell {
    flex: 0 0 50%
  }
  .g--1of3--xxlarge > .g-cell {
    flex: 0 0 33.3333%
  }
  .g--1of4--xxlarge > .g-cell {
    flex: 0 0 25%
  }
}
