// Section: Who we are

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint($large) {
        div:first-child {
            margin-right: $spacing--small;
        }
        div:last-child {
            margin-left: $spacing--small;
        }
    }

}

.bio__inner {
    max-width: $spacing * 20;
    padding: $spacing;
    padding-top: $spacing * 3;
    border-radius: $border__radius;
    border: ($border--width * 2) $border--style $border--color;
    position: relative;
    align-self: stretch;
    margin-top: $spacing * 4;

    @include breakpoint($medium) {
        margin-top: $spacing * 5;
    }

    @include breakpoint($large) {
        flex: 0 0 calc(50% - #{$spacing});
    }

    &.michael {
        @include breakpoint(max-width $medium) {
            margin-bottom: $spacing;
        }
    }
}

.bio__img {
    width: $spacing * 6;
    height: $spacing * 6;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    top: -$spacing * 4;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);

    img {
        display: block;
        width: 100%;
        width: $spacing * 6;
        height: $spacing * 6;
        border: .25rem solid $color--white;
        border-radius: 50%;
    }
}
