// Theme
//
// markup:
// <div class="box">
//   <p>This is a regular sized box.</p>
// </div>
// <div class="box box--small">
//   <p>This is a small box.</p>
// </div>
//
// Styleguide 1.7.1

.box {
  padding: $spacing;
  border-radius: $border__radius;

  p:first-of-type {
    margin-top: 0;
  }

  &--small {
    padding: $spacing--small;
  }
}

// Color theme
//
// Use a color theme to apply color to the background and text. Some color themes apply a background image or texture. Color themes are typically used with box themes, toasts and alerts.
//
// markup:
// <div class="box theme--default ">
//   <p>This is a default theme and here is a <a>link</a>.</p>
// </div>
// <div class="box theme--shade">
//   <p>This is a shade theme and here is a <a>link</a>.</p>
// </div>
// <div class="box theme--inverse">
//   <p>This is a shade theme and here is a <a>link</a>.</p>
// </div>
// <div class="box theme--alt-inverse">
//   <p>This is a shade theme and here is a <a>link</a>.</p>
// </div>
//
// Styleguide 1.7.2

.theme--default {
  @include theme();
}


.theme--shade {
  @include theme(shade);
}

.theme--inverse {
  @include theme(inverse);
}

.theme--alt-inverse {
  @include theme(alt-inverse);
}
